<div class='showbox_line p-1 clearfix'>
    {$note|truncate:100}
    <span class='float-end'><a href="" data-bs-toggle="modal" data-bs-target="#showboxModal" data-bs-showbox-note="{$note}">{_ showbox.show_note}</a></span>
</div>
