<html>
	<head>
		<meta charset="utf-8">
		<title>{_ users.new_email.title} {$server}</title>
		<style>

		</style>
	</head>
	<body>
		<p>{_ users.new_email.hello},</p>

        <p>{_ users.new_email.message_1} <a href="{$server_url}" target="_blank">{$server}</a></p>
        <p>{_ users.new_email.username}: {$username}</p>
        <p>{_ users.new_email.password}: {$use_passhash}</p>
        <p>{_ users.new_email.warning}</p>
	</body>
</html>
