map:
    project_preview: "Všechny projekty"
    project_detail: "Detail projektu"
    map: "Mapa"
    title: "Mapa segmentů pro zvolenou kampaň"
    description: "Mapa segmentů pro zvolenou kampaň"
    h: "Mapa segmentů"
    notfinished_sections: "Nedokončené segmenty"
    finished_sections: "Dokončené segmenty"
    selected_sections: "Aktuálně zvolený segment"
    reserved_sections: "Rezervované segmenty"

admin:
    h: "Kampaň"
    title: "Kampaň"
    description: "Kampaň"
    breadcrumb: "Kampaň"
    seg_id: "Id"
    cas_parkingdetected: "Detekovaná vozidla"
    cas_parkingfree: "Neobsazená místa"
    cas_parkingillegal: "Nelegální stání"
    cas_parkingnotdetected: "Nedetekovaná vozidla"
    cas_done: "Stav"
    button_detail: "Detail"
    projects: "Projekty"
    project_detail: "Detail projektu"