h: "Konfigurace ovládání"
breadcrumb: "Konfigurace ovládání"
title: "Konfigurace ovládání"
description: "Konfigurace ovládání"
button_save: "Uložit konfiguraci"
display: "Rozložení vyhodnocovací obrazovky"
layout: "Rozložení obrazovky"
measurement: "Typ měření"
playing: "Přehrávání"
play_pause: "Start / stop"
speed_up: "Zrychlení přehrávání"
speed_down: "Zpomalení přehrávání"
reset_speed: "Reset rychlosti videa"
together_control: "Společné ovládání"
minus_illegal: "Odečtení nelegálního stání"
plus_illegal: "Přičtení nelegálního stání"
minus_empty: "Odečtení prázdného stání"
plus_empty: "Přičtení prázdného stání"
minus_not: "Odečtení nezaznamenaného stání"
plus_not: "Přičtení nezaznamenaného stání"
delete: "Vymazání všech hodnot"
left_together_control: "Samostatné ovládání levé strany"
left_minus_illegal: "Odečtení nelegálního stání vlevo"
left_plus_illegal: "Přičtení nelegálního stání vlevo"
left_minus_empty: "Odečtení prázdného stání vlevo"
left_plus_empty: "Přičtení prázdného stání vlevo"
left_minus_not: "Odečtení nezaznamenaného stání vlevo"
left_plus_not: "Přičtení nezaznamenaného stání vlevo"
left_delete: "Vymazání všech hodnot vlevo"
right_together_control: "Samostatné ovládání pravé strany"
right_minus_illegal: "Odečtení nelegálního stání vpravo"
right_plus_illegal: "Přičtení nelegálního stání vpravo"
right_minus_empty: "Odečtení prázdného stání vpravo"
right_plus_empty: "Přičtení prázdného stání vpravo"
right_minus_not: "Odečtení nezaznamenaného stání vpravo"
right_plus_not: "Přičtení nezaznamenaného stání vpravo"
right_delete: "Vymazání všech hodnot vpravo"
close: "Zavřít"

screen_layout:
    notselected: "Nevybráno"
    1: "Videa a mapa stejně velké"
    2: "Videa větší, mapa menší"

screen_measurement: 
    notselected: "Nevybráno"
    1: "Levá a pravá strana zvlášť"
    2: "Obě strany dohromady"