form:
    title: "Kontaktní formulář"
    description: "Kontaktní formulář"
    breadcrumb: "Kontaktní formulář"
    h: "Kontaktní formulář"
    con_name: "Jméno a příjmení"
    con_phone: "Telefon"
    con_email: "E-mail"
    con_category: "Kategorie"
    con_message: "Zpráva"
    con_sender: "Odeslat i odesílateli"
    captcha: "Vepište prosím číslem výsledek následujícího příkladu:"
    button_send: "Odeslat"
    notselected: "Nevybráno"
    error_con_email: "Prosím vložte váš e-mail!"
    error_con_message: "Prosím vložte zprávu!"
    error_con_name: "Prosím vložte vaše jméno!"
    error_con_phone: "Prosím vložte váš telefon!"
    error_con_category: "Prosím vyberte kategorii!"
    error_captcha: "Prosím vyplňte captcha ověření!"
    error_captcha_result: "Captcha výsledek neodpovídá zadanému textu!"
    error_dir_not_exists: "Adresář neexistuje, soubor nebyl uložen!"

categories:
    1: "Frontend"
    2: "Backend"
    3: "Ostatní"

sender:
    1: "Ne"
    2: "Ano"

admin:
    title: "Přehled zpráv v kontaktním formuláři"
    description: "Přehled zpráv v kontaktním formuláři"
    breadcrumb: "Přehled zpráv v kontaktním formuláři"
    h: "Přehled zpráv v kontaktním formuláři"
    con_id: "Id"
    con_email: "E-mail"
    con_message: "Zpráva"
    con_name: "Jméno"
    con_phone: "Telefon"
    con_category: "Kategorie"
    con_sender: "Odesláno i odesílateli"
    con_datetimeinsert: "Datum vložení"
    use_id: "Řešitel"
    button_detail: "Detail"
    not_done: "Nevyřešeno"
    not_done_tooltip: "Zobrazit nevyřešené"

detail:
    title: "Detail zprávy z kontaktního formuláře"
    description: "Detail zprávy z kontaktního formuláře"
    breadcrumb: "Detail zprávy z kontaktního formuláře"
    h: "Detail zprávy z kontaktního formuláře"
    con_email: "E-mail"
    con_message: "Zpráva"
    con_name: "Jméno"
    con_phone: "Telefon"
    con_category: "Kategorie"
    button_display_notification_email: "Zobrazit notifikační e-mail"
    button_display_sended_email: "Zobrazit odeslaný e-mail"
    button_set_done: "Označit jako vyřešené"
    set_done_message_1: "Označil jako vyřešené"
    set_done_message_2: "dne"
    set_done_message_3: "v"
    
notification:
    title: "Nová zpráva v kontaktním formuláři na serveru"
    hello: "Dobrý den"
    message_1: "v kontaktním formuláři na serveru"
    message_2: "se nachází nová zpráva"
    sender: "Odesílatel"
    name: "Jméno a příjmení"
    phone: "Telefon"
    category: "Kategorie zprávy"
    message: "Zpráva"

sender_email:
    title_1: "Vaše zpráva na serveru"
    title_2: "byla zaevidována"
    hello: "Dobrý den"
    message_1: "Vaše zpráva na serveru"
    message_2: "byla zaevidována"
    name: "Vaše jméno"
    phone: "Váš telefon"
    category: "Vámi zvolená kategorie"
    message: "Zpráva"
    thanks: "Děkujeme"

sended: 
    title: "Váš dotaz byl úspěšně odeslán"
    description: "Váš dotaz byl úspěšně odeslán"
    breadcrumb: "Váš dotaz byl úspěšně odeslán"
    h: "Váš dotaz byl úspěšně odeslán"
    thansks: "Děkujeme"