lang_czech: "Česky"
lang_english: "Anglicky"
title: "Parkování"
projects: "Projekty"
new_project: "Nový projekt"
projects_preview: "Přehled projektů"
configuration: "Konfigurace"
my_account: "Můj účet"
administration: "Administrace"
logout: "Odhlášení"
login: "Přihlášení"
users: "Správa uživatelů"
help: "Nápověda"
about: "O projektu"
notes: "Poznámky"
crossroads: "Křižovatky"