admin:
    title: "Přehled poznámek"
    description: "Přehled poznámek"
    breadcrumb: "Přehled poznámek"
    h: "Přehled poznámek"
    not_id: "ID"
    not_page: "Stránka"
    not_note: "Poznámka"
    use_id: "Uživatel"
    remove_question: "Opravdu chcete odstranit tuto poznámku?"
    export_title: "Export poznámek"
    export_filters: "Použité filtry"
    export_date: "Vygenerováno dne"
    export_name: "seznam-poznamek"
