reset_search: "Zrušit vyhledávání"
and: "A"
or: "Nebo"
yes: "Ano"
no: "Ne"
button_remove: "Smazat"
no_results: "Nebyly nalezeny žádné záznamy!"
search: "Vyhledávání"
and_or: "A / Nebo"
pagination: "Stránkování"
export:
    button_columns: "Nastavení sloupců"
    button_exports: "Exporty"
    link_filtered_excel: "Vyfiltrované hodnoty do excelu"
    link_filtered_pdf: "Vyfiltrované hodnoty do pdf"
    link_all_excel: "Všechny hodnoty do excelu"
    link_all_pdf: "Všechny hodnoty do pdf"