new:
    h: "Nový projekt"
    title: "Nový projekt"
    breadcrumb: "Nový projekt"
    description: "Nový projekt"
    pro_name: "Název projektu"
    pro_note: "Popisek"
    note: "Pole označená * jsou povinná"
    button_insert: "Vložit"
    campaigns:
        cam_name: "Název kampaně"
    error_pro_name: "Vložte prosím název projektu!"
    error_pro_note: "Vložte prosím poznámku k projektu!"
    error_cam_name: "Vložte prosím název kampaně!"

update:
    h: "Úprava projektu"
    title: "Úprava projektu"
    description: "Úprava projektu"
    breadcrumb: "Úprava projektu"
    note: "Pole označená * jsou povinná"
    button_update: "Upravit projekt"
    error_pro_name: "Vložte prosím název projektu!"
    error_pro_note: "Vložte prosím poznámku k projektu!"

detail:
    preview: "Všechny projekty"
    breadcrumb: "Detail projektu"
    title: "Detail projektu"
    description: "Detail projektu"
    h: "Detail projektu"
    button_update: "Upravit projekt"
    title_preview: "Přehled projektu"
    pro_name: "Název projektu"
    pro_year: "Rok"
    pro_note: "Poznámka"
    campaigns: 
        h: "Kampaně"
        cam_name: "Název"
        detail: "Detail"
        button_detail: "Detail"
        title_preview: "Přehled kampaní"
        button_map: "Mapa"
    reservations:
        h: "Moje rezervace"
        campaign: "Kampaň"
        section: "Sekce"
        project: "Projekt"
        not_found: "Nebyly nalezeny žádné rezervované sekce"
    
admin:
    h: "Projekty"
    title: "Projekty"
    description: "Projekty"
    breadcrumb: "Projekty"
    pro_id: "Id"
    pro_name: "Název"
    pro_note: "Poznámka"
    button_detail: "Detail"
    button_update: "Upravit"
    button_export: "Export dat"

export:
    seg_id: "Číslo segmentu"
    cas_parkingdetected_left: "Detekovaná vozidla vlevo"
    cas_parkingfree_left: "Volná místa vlevo"
    cas_parkingillegal_left: "Nelegální stání vlevo"
    cas_parkingnotdetected_left: "Nedetekovaná místa vlevo"
    cas_parkingdetected_right: "Detekovaná vozidla vpravo"
    cas_parkingfree_right: "Volná místa vpravo"
    cas_parkingillegal_right: "Nelegální stání vpravo"
    cas_parkingnotdetected_right: "Nedetekovaná místa vpravo"
    cas_parkingdetected: "Detekovaná vozidla"
    cas_parkingfree: "Volná místa"
    cas_parkingillegal: "Nelegální stání"
    cas_parkingnotdetected: "Nedetekovaná místa"
    on: "Ulice"