que_status:
    1: "Veřejný"
    2: "Privátní"
    3: "Testovací"
    4: "Neplatný"

detail_frontend: 
    que_name: "Název"
    que_query: "Dotaz"
    que_note: "Poznámka"
    que_status: "Stav"
    all_count: "Počet záznamů"
    title: "Detail dotazu"
    description: "Detail dotazu"
    breadcrumb: "Detail dotazu"
    h: "Detail dotazu"
    preview: "Všechny dotazy"
    title_preview: "Obecné informace"
    title_data: "Přehled dat"

preview_frontend: 
    que_id: "Id"
    que_name: "Název"
    que_query: "Dotaz"
    que_note: "Poznámka"
    que_status: "Stav"
    title: "Přehled dotazů"
    description: "Přehled dotazů"
    breadcrumb: "Přehled dotazů"
    h: "Přehled dotazů"
    button_detail: "Detail"
    export_title: "Export dotazu"
    export_date: "Datum exportu"
    export_name: "Export dotazu"
    export_filters: "Použité filtry"

admin: 
    que_id: "Id"
    que_name: "Název"
    que_query: "Dotaz"
    que_note: "Poznámka"
    que_status: "Stav"
    title: "Přehled dotazů"
    description: "Přehled dotazů"
    breadcrumb: "Přehled dotazů"
    h: "Přehled dotazů"
    button_detail: "Detail"
    export_title: "Export dotazů"
    export_date: "Datum exportů"
    export_name: "Export dotazů"
    export_filters: "Použité filtry"
    button_update: "Upravit"

detail: 
    que_name: "Název"
    que_query: "Dotaz"
    que_note: "Poznámka"
    que_status: "Stav"
    all_count: "Počet záznamů"
    title: "Detail dotazu"
    description: "Detail dotazu"
    breadcrumb: "Detail dotazu"
    h: "Detail dotazu"
    preview: "Všechny dotazy"
    title_preview: "Obecné informace"
    title_data: "Přehled dat"
    button_update: "Upravit"

new:
    title: "Nový dotaz"
    description: "Nový dotaz"
    breadcrumb: "Nový dotaz"
    h: "Nový dotaz"
    que_name: "Název"
    que_query: "Dotaz"
    que_note: "Poznámka"
    que_status: "Stav"
    note: "Položky označené * jsou povinné!"
    button_compute: "Vložit"
    que_status_prompt: "Nevybráno"

update:
    title: "Úprava dotazu"
    description: "Úprava dotazu"
    breadcrumb: "Úprava dotazu"
    h: "Úprava dotazu"
    que_name: "Název"
    que_query: "Dotaz"
    que_note: "Poznámka"
    que_status: "Stav"
    note: "Položky označené * jsou povinné!"
    button_compute: "Upravit"
    que_status_prompt: "Nevybráno"