registration:
    title: "Registrace uživatelů"
    deacription: "Registrační formulář"
    breadcrumb: "Registrace uživatelů"
    h: "Registrace uživatelů"
    use_email: "E-mail"
    use_passhash: "Heslo"
    use_passhash_second: "Heslo pro kontrolu"
    use_name: "Jméno a příjmení"
    use_phone: "Telefon"
    use_terms_agreement: "Souhlas s obchodními podmínkami"
    captcha: "Vepište prosím číslem výsledek následujícího příkladu:"
    register_button: "Registrovat se"
    error_create_password: "Prosím vložte heslo!"
    error_password_min_length: "Heslo musí obsahovat minimálně %d znaků!"
    error_use_email: "Prosím vložte e-mail!"
    error_email_is_taken: "Tento e-mail je již registrován!"
    error_custom_validation: "Vaše heslo nesplňuje validační podmínky!"
    error_password_same: "Hesla se musí shodovat!"
    error_use_name: "Vložte prosím vaše jméno a příjmení!"
    error_use_phone: "Vložte prosím váš telefon!"
    error_use_terms_agreement: "Musíte souhlasit s obchodními podmínkami!"
    error_captcha: "Prosím vyplňte captchu!"
    error_passwords_not_same: "Zadaná hesla se neshodují!"
    error_captcha_not_valid: "Vámi vyplněná captcha není správná!"
    flash_success: "Registrace byla úspěšná, nyní se můžete přihlásit!"

set_tfa:
    title: "Nastavení druhého faktoru ověření"
    description: "Nastavení druhého faktoru ověření"
    breadcrumb: "Druhý faktor ověření"
    h: "Nastavení druhého faktoru ověření"
    skip_button: "Přeskočit"
    set_button: "Nastavit"

successfull:
    title: "Dokončení registrace"
    description: "Dokončení registrace"
    breadcrumb: "Dokončení registrace"
    h: "Dokončení registrace"
    message: "Pokračujte prosím pomocí odkazu ve vašem e-mailu!"
    no_email_1: "Nepřišel vám váš verifikační e-mail? Můžete"
    no_email_2: "odeslat nový verifikační e-mail"

verification_email:
    title: "Potvrzení registrace"
    hello: "Dobrý den"
    done: "Vaše registrace bude dokončena kliknutím na následující odkaz:"
    time_to: "Platnost odkazu vyprší:"

again:
    title: "Znovuodeslání verifikačního e-mailu"
    description: "Znovuodeslání verifikačního e-mailu"
    breadcrumb: "Znovuodeslání verifikačního e-mailu"
    h: "Znovuodeslání verifikačního e-mailu"
    use_email: "E-mail"
    button_login: "Přejít na přihlášení"
    send_verification_again: "Odeslat"
    error_use_email: "Prosím vložte e-mail!"
    error_email_not_found: "Vložený e-mail nebyl nalezen!"

verification:
    title: "Ověření e-mailu po registraci"
    description: "Ověření e-mailu po registraci"
    breadcrumb: "Ověření e-mailu po registraci"
    h: "Ověření e-mailu po registraci"
    token_expired: "Token pro ověření registrace expiroval!"
    token_not_found: "Token pro ověření registrace nebyl nalezen!"
    flash_email_valid_tfa: "E-mail ověřen, pokračujte nastavením ověření druhým faktorem"
    flash_email_valid: "E-mail ověřen, můžete se přihlásit"

tfa:
    tfa_enabled_otp: "Dvoufaktorová autentizace byla úspěšně nastavena! Pokračujte tcorbou jednorátových hesel pro přihlášení."
    tfa_disabled_otp: "Dvoufaktorová autentizace nebyla nastavena! Doporučujeme ji aktivovat po přihlášení!"
    tfa_enabled_login: "Dvoufaktorová autentizace byla úspěšně nastavena! Pokračujte přihlášením."
    tfa_disabled_login: "Dvoufaktorová autentizace nebyla nastavena! Doporučujeme ji aktivovat po přihlášení!"

set_new_password:
    error_create_password: "Prosím vložte heslo!"
    error_password_min_length: "Heslo musí obsahovat minimálně %d znaků!"
    error_custom_validation: "Vaše heslo nesplňuje validační podmínky!"
    error_password_same: "Hesla se musí shodovat!"
    flash_changed: "Heslo bylo změněno. Nyní se můžete přihlásit."
    error_passwords_not_same: "Vložená hesla nejsou stejná!"