admin:
    title: "Správa uživatelů"
    description: "Správa uživatelů"
    breadcrumb: "Správa uživatelů"
    h: "Správa uživatelů"
    use_id: "Id uživatele"
    use_email: "E-mail"
    use_name: "Jméno"
    use_phone: "Telefon"
    use_role: "Role"
    use_active: "Aktivní?"
    button_detail: "Detail"
    export_title: "Export uživatelů"
    export_filters: "Použité filtry"
    export_date: "Vygenerováno dne"
    export_name: "seznam-uzivatelu"

use_active:
    1: "Aktivní"
    2: "Neaktivní"

detail:
    title: "Detail uživatele"
    description: "Detail uživatele"
    breadcrumb: "Detail uživatele"
    h: "Detail uživatele"
    h_management: "Správa"
    button_reset_password: "Resetovat heslo"
    button_deactivate_2fa: "Deaktivovat 2fa"
    message_deactivated_2fa: "Uživatel má deaktivované dvoufaktorové ověření při přihlášení"
    button_deactivate_user: "Deaktivovat uživatele"
    button_activate_user: "Aktivovat uživatele"
    message_otp_1: "Uživatel má právě"
    message_otp_2: "nevyužitých jednorázových hesel, jejichž platnost končí"
    button_remove_otp: "Odstranit jednorázová hesla"
    message_no_otp: "Uživatel nemá vygenerovaná žádná jednorázová hesla"
    button_remove_discussion_authorization: "Zrušit automatické schvalování komentářů v diskuzi"
    button_add_discussion_authorization: "Nastavit automatické schvalování komentářů v diskuzi"

edituser:
    h: "Údaje"
    use_email: "E-mail"
    use_name: "Jméno"
    use_phone: "Telefon"
    use_role: "Role"
    use_active: "Aktivace účtu"
    button_save: "Uložit"
    error_use_email: "Prosím vložte váš e-mail!"
    error_use_name: "Prosím vložte vaše jméno!"
    error_use_phone: "Prosím vložte váš telefon!"
    error_use_role: "Prosím vyberte roli!"
    error_use_active: "Zvolte prosím, zda je uživatel aktivní nebo neaktivní!"
    notselected: "Nevybráno"
    error_email_exists: "Zadaný e-mail již existuje!"

profile:
    title: "Můj profil"
    description: "Můj profil"
    breadcrumb: "Můj profil"
    h: "Můj profil"
    title_photo: "Fotografie"
    profile_photo: "Profilová fotografie"
    delete_photo: "Smazat obrázek"
    save_photo: "Vložit fotografii"
    title_reset_password: "Změna hesla"
    current_password: "Stávající heslo"
    new_password: "Nové heslo"
    button_change_password: "Změnit heslo"
    title_delete_account: "Zrušení účtu"
    message_delete_account: "V případě, že zrušíte svůj účet, budou nenávratně smazána všechna data, která o vás evidujeme."
    button_delete_account: "Zrušit účet"
    h_management: "Nastavení"
    button_deactivate_2fa: "Deaktivovat dvoufaktorovou autentizaci"
    button_activate_2fa: "Aktivovat dvoufaktorovou autentizaci"
    h_tfa: "Nastavení dvoufaktorové autentizace"
    code: "Kód"
    button_close: "Zavřít"
    button_generate_otp: "Vygenerovat jednorázová hesla"
    button_use_otp: "Použít vygenerovaná jednorázová hesla"
    h_otp: "Vytvoření jednorázových hesel"
    message_otp_1: "Uživatel má právě"
    message_otp_2: "nevyužitých jednorázových hesel, jejichž platnost končí"
    button_remove_otp: "Odstranit jednorázová hesla"
    message_no_otp: "Uživatel nemá vygenerovaná žádná jednorázová hesla"
    image_error: "Je nutné zvolit obrázek"

new:
    title: "Nový uživatel"
    description: "Nový uživatel"
    breadcrumb: "Nový uživatel"
    h: "Nový uživatel"
    new_button: "Vložit uživatele"
    use_send_pass_mail: "Odeslat e-mail s vygenerovaným heslem"
    use_email: "E-mail"
    use_passhash: "Heslo"
    use_name: "Jméno a příjmení"
    use_phone: "Telefon"
    use_role: "Role"
    use_active: "Aktivace účtu"
    error_create_password: "Prosím vložte heslo!"
    error_password_min_length: "Heslo musí obsahovat minimálně %d znaků!"
    error_use_email: "Prosím vložte e-mail!"
    error_email_is_taken: "Tento e-mail je již registrován!"
    error_custom_validation: "Vaše heslo nesplňuje validační podmínky!"
    error_password_same: "Hesla se musí shodovat!"
    error_use_name: "Vložte prosím vaše jméno a příjmení!"
    error_use_phone: "Vložte prosím váš telefon!"
    notselected: "Nevybráno"

new_email:
    title: "Registrace na portále"
    hello: "Dobrý den"
    message_1: "právě jsme Vás registrovali na serveru "
    username: "Vaše uživatelské jméno je"
    password: "Vaše heslo je"
    warning: "Po prvním přihlášení doporučujeme heslo změnit a případně nastavit ověření přes Google Authenticator"