<td>
    <a n:href=":Queries:Queries:detail $line->{$search_values[0][0]}" class="btn btn-primary btn-sm">{_ queries.admin.button_detail}</a>
    <a n:href=":Queries:Queries:updateQuery $line->{$search_values[0][0]}" class="btn btn-primary btn-sm">{_ queries.admin.button_update}</a>
</td>
