<div class="form-group">
    <label name="cam_name_next[]" class="form-label mt-2">{_ projects.new.campaigns.cam_name}</label>
    <input type="text" class="form-control" id="cam_name_next[]" name="cam_name_next[]"/>
</div>
